extends layout 

block content
    .w3-card-4
        header.w3-container.w3-red.w3-margin-bottom.w3-p
            h1= title
        .w3-container
            table.w3-table-all.w3-margin-bottom
                tr
                    th Id 
                    th Title
                    th Author
                    th Publish Date 
                    th Pages
                each livro in livros
                    tr
                        td
                            a(href=`/${livro._id}`)= livro._id
                        td
                            a(href=`/${livro._id}`)= livro.title
                        td
                            - let authors = livro.author || []
                            - let authorIds = livro.authorIds || []
                            each autor, index in authors
                                - let autorId = authorIds[index] ? authorIds[index] : encodeURIComponent(autor)
                                a.w3-text-indigo(href=`/entidades/${autorId}`)= autor
                                if index < authors.length - 1
                                    | ,  
                        td= livro.publishDate
                        td= livro.pages
